.top{
    color:rgb(0, 69, 69);
}

.hero{
    background-image: url("assets/Paris_hero.webp");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
    height: 640px;
}

.cards{
    /*width: 1000px;*/
    margin-top: 80px;
    /*margin-left: 150px;*/
    padding: 10px;
}

.username{
    width: 50%;

}


.welcome, .sub, .cta {
    margin-top: 40px;
}


